aiohttp==3.8.1
brotli==1.0.9
brotlipy==0.7.0
ConfigParser==5.2.0
cryptography==3.4.7
Cython==0.29.23
dl==0.1.0
docutils==0.17
geojson==2.5.0
googlemaps==4.5.3
HTMLParser==0.0.2
importlib_metadata==3.10.0
jnius==1.1.0
keyring==22.3.0
lockfile==0.12.2
lxml==4.6.3
numpy==1.20.1
ordereddict==1.1
pandas==1.2.4
protobuf==3.19.1
pyOpenSSL==21.0.0
python_dateutil==2.8.2
simplejson==3.17.6
toml==0.10.2
tornado==6.1
typing_extensions==3.7.4.3
xmlrpclib==1.0.1
yarl==1.7.2
zipp==3.4.1
